/* stylelint-disable selector-list-comma-newline-after */
body {
  background: url(../img/background.jpeg) no-repeat center center fixed;
}
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.logoEvento {
  border-radius: 40px;
  width: 85%;
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}

.blog-header {
    line-height: 1;
    border-bottom: 1px solid #e5e5e5;
  }
  
  .blog-header-logo {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
    font-size: 2.25rem;
  }
  
  .blog-header-logo:hover {
    text-decoration: none;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
  }
  .display-1 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(162, 137, 223);
    text-shadow: 0em 0em 0.08925156em rgba(36, 6, 111, 0.750000);
  }
  .display-2 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(1, 0, 70);
  }
  .display-3 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(1, 0, 70);
    font-size: 1.5rem;
  }
  
  .display-4 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(1, 0, 70);
    font-size: 2.5rem;
  }
  @media (min-width: 768px) {
    .display-4 {
      font-size: 3rem;
    }
  }
  
  .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    /*white-space: nowrap;*/
    -webkit-overflow-scrolling: touch;
  }
  
  .card-img-right {
    height: 100%;
    border-radius: 0 3px 3px 0;
  }
  
  .flex-auto {
    flex: 0 0 auto;
  }
  
  .h-250 { height: 250px; }
  @media (min-width: 768px) {
    .h-md-250 { height: 250px; }
  }
  
  /* Pagination */
  .blog-pagination {
    margin-bottom: 4rem;
  }
  .blog-pagination > .btn {
    border-radius: 2rem;
  }
  
  /*
   * Blog posts
   */
  .blog-post {
    margin-bottom: 4rem;
  }
  .blog-post-title {
    margin-bottom: .25rem;
    font-size: 2.5rem;
  }
  .blog-post-meta {
    margin-bottom: 1.25rem;
    color: #727272;
  }
  
  /*
   * Footer
   */
  .blog-footer {
    margin-top: 20%;
    margin-bottom: 0;
    padding: 2.5rem 0;
    color: #727272;
    text-align: center;
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5;
  }
  .blog-footer p:last-child {
    margin-bottom: 0;
  }

  .box {
    border-radius: 30px;
    border: 5px solid #C5FDE0;
    margin: 15px;
    padding: 15px 15px 15px 15px;
  }

  .formBox {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  .boxCab {
    border-radius: 10px;
    border-color: black;
    background-color: #d6f2e5;
    margin: 20px;
    padding: 15px 15px 15px 15px;
  }

  .tituloForm {
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    color: rgb(1, 0, 70);
  }

  .box-text {
    margin: 15px;
    padding: 15px 15px 15px 15px;
  }

  .carousel-inner {
    align-items: center;
  }

  .carousel-item {
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    padding: 20px 80px 20px 80px;
    color:  rgb(1, 0, 70);
  }

  #numCarousel {
    font-size: x-large;
    font-weight: bold;
  }

  #dataCarousel {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
    line-height: 40px;
  }

  #textoCarousel {
    font-size: medium;
  }

  #comissao {
    font-size: x-large;
    font-weight: bold;
  }

  #comissaoLista {
    font-size: large;
  }

  .tb-h {
    text-align: center;
    vertical-align: middle;
  }

  #cell {
    text-align: center;
  }

  .modalText{
    text-align: justify;
  }
  
  /* Form Sign */
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }

  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }